.navbar {
	margin-bottom: -20px;
}

.jumbotron {
	background: url('images/Themis.JPG') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 342px 0px;
}

.centerMe {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#signIn {
	font-size: 4em;
	font-style: bold;
}

.footer-header {
	font-size: 15px;
	height: 20px;
	width: 150px;
	margin: 0px auto 0px auto;
}

#beginSearch {
	margin: 10% auto 0% auto;
	width: 40%;
}

#searchButtons {
	float: right;
	margin: 2% auto;
}

#levityButton {
	margin-right: 20px;
}

.social i {
	padding: 11% 0% 0% 0%;
}

.rowBreak {
	margin: 5% 5%;
}

.elements {
	font-size: 1.5em;
}

.removeButton {
	float: right;
	padding-top: 20%;
}

.modal-header {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#cases-action1 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endAction1 {
	margin-right: 30px;
}

#cases-action2 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endAction2 {
	margin-right: 30px;
}

#cases-action3 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endAction3 {
	margin-right: 30px;
}

#cases-intent1 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endIntent1 {
	margin-right: 30px;
}

#cases-intent2 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endIntent2 {
	margin-right: 30px;
}

#cases-causation1 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endCausation1 {
	margin-right: 30px;
}

#cases-causation2 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endCausation2 {
	margin-right: 30px;
}

#cases-causation3 {
	display: none;
	background-color: moccasin;
	border-radius: 15px;
	padding: 15px 10px 15px 20px;
}

#endCausation3 {
	margin-right: 30px;
}